
/*  your css code here. If applicable */
.body{
	margin:0px;
	padding:0px;
}
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}

#image{
	width:400px;
	height:200px;
	object-fit: cover;
}
#button{
	padding:5px;
	background-color:red;
	color:white;
	border-radius:20px;
}

